<section>
    <div class="post">
        <div class="post-list">
            <% var posts = site.posts.sort('date', 'desc'); %>
            <% posts.forEach(post => { %>
                <div class="post-item">
                    <span class="post-item-date"><%= date(post.date, 'YYYY-MM-DD') %></span>
                    <a href="<%- url_for(post.path) %>"><%- post.title %></a>
                </div>
            <% }) %>
        </div>
    </div>
</section>