@import "_partial/header"
@import "_partial/index"
@import "_partial/footer"
@import "_partial/layout"

body
    font-family: 'Cascadia Code', Consolas, Helvetica, 'Microsoft YaHei', 'PingFang SC', 'Hiragino Sans GB', sans-serif
    position: absolute
    top: 10px
    left: 10px
    bottom: 10px
    right: 10px
    padding: 5px
    overflow-y: scroll
    overflow-x: hidden
    transition: all 0.2s ease-in-out
    text-align: center

a
    text-decoration: none
    color: inherit